@model IEnumerable<GymPlannerWeb.Exercises>

@{
    ViewBag.Title = "Вправи";
}

<h2>Вправи</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Information)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Information)
        </td>
    </tr>
}

</table>
