@{
    ViewBag.Title = "Статистика";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Статистика</title>
</head>
<body>
    <li>@Html.ActionLink("Вибрати вправу", "Choose", "Choose")</li>
    <h2>
        Вправа @if (Session["Selected"] != null && Session["Selected"].ToString() != "")
        {<text>(@Session["Selected"])</text>}
    else
    { <text>(Жим ногами)</text>}:
    </h2>
    <div class="row">
        <img src="@Url.Action("Stat", "Stat")" />
    </div>
</body>